@use "../../../styles/variables.scss" as var;
.HRnet-header {
  display: flex;
  justify-content: space-between;
  h1.title {
    font-size: 4rem;
    span {
      &.dark {
        color: var.$DarkTitle;
      }
      &.light {
        color: var.$LightTitle;
      }
    }
  }
}
