@use "../../styles/variables.scss" as var;
main {
  min-height: 100vh;
  section.pmf-tableWrapper {
    opacity: 0;
    animation: toShow 0.5s forwards;
    padding: 0;
  }
  header.pmf-tableHeader {
    background-color: none;
    .pmf-tableFilter-label,
    .pmf-tableLength-label {
      font-size: 1rem;
      select#pmf-tableLength-select {
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1rem;
      }
      input {
        border-radius: 10px;
        padding: 0.5rem;
        font-size: 1rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
  footer.pmf-tableFooter {
    padding: 1rem 0;
    font-size: 1rem;
    .pmf-tablePaginate {
      button {
        cursor: pointer;
        font-family: "Inter", sans-serif;
      }
    }
  }
  .pmf-tableBody-cell {
    border-top: none;
    opacity: 0.5;
    animation: toShow 0.5s forwards;
    &.pmf-tableBody-cell-noData {
      background: none;
    }
  }
  &.light {
    select {
      background-color: rgba(var.$LightText, 0.1);
      color: var.$LightText;
      &:focus {
        background-color: var.$LightBackground;
      }
    }
    input {
      border: 2px solid transparent;
      background-color: rgba(var.$LightText, 0.1);
      color: var.$LightText;
      &:focus {
        border: 2px solid var.$LightText;
      }
    }
    table.pmf-table {
      color: var.$LightText;
      border-bottom: 1px solid var.$LightTitle;
      th {
        background-color: none;
        padding: 1rem;
        border-bottom: 1px solid var.$LightTitle;
        color: var.$LightText;
      }
      tbody {
        tr {
          &.pmf-tableBody-row-odd {
            background-color: rgba(var.$LightText, 0.1);
            &:hover {
              background-color: rgba(var.$LightTitle, 0.2);
            }
          }
          &.pmf-tableBody-row-even {
            background-color: rgba(var.$LightBackground, 1);
            &:hover {
              background-color: rgba(var.$LightTitle, 0.2);
            }
          }
          td {
            &.pmf-tableBody-cell-sorting-odd {
              background-color: rgba(var.$LightTitle, 0.2) !important;
            }
            &.pmf-tableBody-cell-sorting-even {
              background-color: rgba(var.$LightTitle, 0.2) !important;
            }
          }
        }
      }
    }
    .pmf-tableBody-row-odd:hover .pmf-tableBody-cell,
    .pmf-tableBody-row-even:hover .pmf-tableBody-cell {
      background-color: rgba(var.$LightTitle, 0.1);
    }
    footer.pmf-tableFooter {
      .pmf-tablePaginate {
        button {
          color: var.$LightText;
          &:hover {
            background: none;
            border: 1px solid rgba(var.$LightText, 0.1);
            background-color: rgba(var.$LightText, 0.2);
          }
          &.pmf-tablePaginate-button-active {
            border: 1px solid var.$LightInteractive;
            margin: 0 2px;
            background: linear-gradient(
              to bottom,
              var.$LightInteractive 0%,
              rgba(var.$LightTitle, 0.1) 100%
            );
          }
          &.pmf-tablePaginate-button-disabled {
            border: 1px solid transparent;
            background: transparent;
            cursor: auto;
          }
        }
      }
    }
  }
  &.dark {
    select {
      background-color: rgba(var.$DarkText, 0.1);
      color: var.$DarkText;
      &:focus {
        background-color: var.$DarkBackground;
      }
    }
    input {
      border: 2px solid transparent;
      background-color: rgba(var.$DarkText, 0.1);
      color: var.$DarkText;
      &:focus {
        border: 2px solid var.$DarkText;
      }
    }
    table.pmf-table {
      color: var.$DarkText;
      border-bottom: 1px solid var.$DarkTitle;
      th {
        background-color: none;
        padding: 1rem;
        border-bottom: 1px solid var.$DarkTitle;
        color: var.$DarkText;
      }
      tbody {
        tr {
          &.pmf-tableBody-row-odd {
            background-color: rgba(var.$DarkText, 0.1);
            &:hover {
              background-color: rgba(var.$DarkTitle, 0.2);
            }
          }
          &.pmf-tableBody-row-even {
            background-color: rgba(var.$DarkBackground, 1);
            &:hover {
              background-color: rgba(var.$DarkTitle, 0.2);
            }
          }
          td {
            &.pmf-tableBody-cell-sorting-odd {
              background-color: rgba(var.$DarkTitle, 0.2) !important;
            }
            &.pmf-tableBody-cell-sorting-even {
              background-color: rgba(var.$DarkTitle, 0.2) !important;
            }
          }
        }
      }
    }
    .pmf-tableBody-row-odd:hover .pmf-tableBody-cell,
    .pmf-tableBody-row-even:hover .pmf-tableBody-cell {
      background-color: rgba(var.$DarkTitle, 0.1);
    }
    footer.pmf-tableFooter {
      .pmf-tablePaginate {
        button {
          color: var.$DarkText;
          &:hover {
            background: none;
            border: 1px solid rgba(var.$DarkText, 0.1);
            background-color: rgba(var.$DarkText, 0.2);
          }
          &.pmf-tablePaginate-button-active {
            border: 1px solid var.$DarkInteractive;
            margin: 0 2px;
            background: linear-gradient(
              to bottom,
              var.$DarkInteractive 0%,
              rgba(var.$DarkTitle, 0.1) 100%
            );
          }
          &.pmf-tablePaginate-button-disabled {
            border: 1px solid transparent;
            background: transparent;
            cursor: auto;
          }
        }
      }
    }
  }
}
