@use "./variables.scss" as var;
@use "./keyframes.scss" as key;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: background 0.3s ease;
  font-family: "Inter", sans-serif;
  main {
    &.light {
      background-color: var.$LightBackground;
      color: var.$LightText;
    }
    &.dark {
      background-color: var.$DarkBackground;
      color: var.$DarkText;
    }
    section {
      max-width: calc(1176px + 5rem);
      padding: 50px 5rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 768px) {
        padding: 50px 1rem;
      }
      &.light {
        background-color: var.$LightBackground;
        color: var.$LightText;
      }
      &.dark {
        background-color: var.$DarkBackground;
        color: var.$DarkText;
      }
    }
  }
}
