/**********/
/*wrappers*/
/**********/
#table-wrapper {
  width: 990px;
}

#table-header,
#table-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#table {
  width: 100%;
  /* margin: 0 auto;
  clear: both;
  border-collapse: separate; */
  border-spacing: 0;
}

/****************************/
/*table-header subComponents*/
/****************************/

/*TableLength & TableFilter subComponents minimal style*/
#table-length-label,
#table-filter-label {
  margin-top: 1rem;
  margin-bottom: 10px;
}
#table-length-select {
  margin-right: 5px;
  margin-left: 5px;
}
#table-filter-input {
  margin-left: 5px;
}

/*********************/
/*table subComponents*/
/*********************/

/*TableHead SubComponent minimal style*/
/* #table-head-cell {
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  padding-right: 20px;
}
#table-head-arrow {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
}
#table-head-arrow-asc,
#table-head-arrow-desc {
  color: lightgrey;
}
#table-head-arrow.asc #table-head-arrow-asc,
#table-head-arrow.desc #table-head-arrow-desc {
  color: #7a80dd;
} */

/*TableBody SubComponent minimal style*/
td {
  padding: 8px 10px;
}
.even {
  background-color: #f2f2f2;
}

.odd {
  background-color: #ffffff;
}

/****************************/
/*table-footer subComponents*/
/****************************/
