/**********/
/*wrappers*/
/**********/
.pmf-tableWrapper {
  width: 990px;
}

.pmf-tableHeader,
.pmf-tableFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pmf-table {
  width: 100%;
  /* margin: 0 auto;
  clear: both;
  border-collapse: separate; */
  border-spacing: 0;
}
